PORT=5000
MONGO_URL=mongodb+srv://renderuser:Render12345@akshay.xghjmfz.mongodb.net/ecommerce?retryWrites=true&w=majority&appName=Akshay
# MONGO_URI or MONGODB_URI also work on deployment hosts.
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=replace-with-a-strong-secret
